.navbar {
    background-color: var(--home-light-primary) !important;
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
}
.navbar a {
    color: white !important;
    font-weight: 550;
}
.navbar-brand img {
    width: 250px;
    height: 30px;
    object-fit: cover;
    filter: brightness(0) invert(1);
}
.navbar .address-container {
    display: flex;
    background-color: var(--home-dark-primary);
    padding: 4px 12px;
    border-radius: 12px;
    height: 65px;
    min-width: 250px;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.navbar .address {
    margin-left: 12px;
}
.navbar .address h1 {
    font-size: 14px;
    margin: 0;
    color: white;
    font-weight: 500;
}
.navbar .address p {
    margin: 0;
    color: white;
    font-weight: 400;

    font-size: 12px;
}
.navbar .shipment-container img {
    margin-right: 6px;
    width: 60px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.navbar .address-arrow {
    position: absolute;
    right: 10px;
    margin-left: 10px;
    color: white;
    font-size: 10px;
}
.navbar-nav {
    width: 100%;
    justify-content: center;
}
.navbar-nav li {
    padding: 12px 36px;
}
.customer-image-container {
    cursor: pointer;
    margin: 0 24px;
    display: flex;
    align-items: center;
    position: relative;
}
.customer-image-container::after {
    content: '';
    display: block;
    height: 50px;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
}
.customer-image-container p {
    color: white;
    margin-left: 12px;
    font-weight: 500;
}
.customer-image-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.cart-container {
    margin: 0 24px;
    background-color: white;
}
.cart-container i {
    color: var(--home-dark-primary);
}
.customer-image-container:hover .drop-down-customer {
    display: block;
}
.drop-down-customer {
    display: none;
    top: 100%;
    background-color: white;
    position: absolute;
    border-radius: 12px;
    padding: 16px 8px;
    left: -1;
    right: 0;
    animation: fadeAndResize 0.1s ease-in-out;
    min-width: 250px;
}
.drop-down-customer a {
    display: block;
    color: black !important;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    list-style-type: none;
    transition: background-color 0.1s linear;
    border-radius: 12px;
}
.drop-down-customer a:hover {
    background-color: #ccc;
}

@keyframes fadeAndResize {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
