/* Spinner Loading */
.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.overlay__inner {
    animation: fade 0.5s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.cart-header {
    background-color: var(--home-light-secondary);
    display: flex;
    justify-content: center;
    border-radius: 24px;
}
.cart-header img {
    width: 250px;
    height: 80px;
    object-fit: cover;
    filter: brightness(0) invert(1);
}

.table thead {
    background-color: var(--home-light-secondary);
}
.page-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mdc-evolution-chip-set .mdc-evolution-chip {
    width: fit-content !important;
    font-size: 12px !important;
}
.btn {
    font-size: 12px;
}
.btn.delete {
    border: 3px solid white;
    background-color: var(--home-primary);
}
.btn.btn-save {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: var(--home-dark-secondary);
    transition: opacity 0.1s linear;
}
.btn.btn-save:hover {
    color: white;
    opacity: 0.9;
}
.cart-container {
    width: 100%;
    padding: 24px;
    border-radius: 12px;
}
.detail-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.actions-container {
    display: flex;
    justify-content: center;
}
