.accounts-container {
    padding-top: 24px;
}
.section-title {
    font-weight: 550;
}
.actions-container {
    display: flex;
    justify-content: center;
}
.btn {
    font-size: 12px;
}
.btn.edit {
    border: 3px solid white;
    background-color: var(--light-secondary);
}
.btn.delete {
    border: 3px solid white;
    background-color: var(--primary);
}

.btn.edit:hover {
    color: white;
    background-color: var(--secondary);
}
.btn.delete:hover {
    color: white;
    background-color: var(--light-primary);
}

#updateForm .mat-mdc-form-field {
    width: 100%;
}
.update-field-container {
    display: flex;
    align-items: center;
}
.update-field-container h1 {
    font-size: 20px;
    font-weight: 400;
    width: 120px;
    text-align: center;
}
#AccountEdit .modal-body {
    padding: 12px 36px !important;
}
#AccountEdit .gender-radio-container {
    display: flex;
    width: 100%;
    align-items: center;
}
th span {
    visibility: hidden;
}
th.active span {
    visibility: visible;
}
