<home-header></home-header>
<div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
>
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                src="https://image.bnews.vn/MediaUpload/Org/2021/01/23/the-coffee-house2.jpg"
                class="d-block w-100"
                alt="..."
            />
        </div>
        <div class="carousel-item">
            <img
                src="https://theme.hstatic.net/1000075078/1000989727/14/share_fb_home.png?v=49"
                class="d-block w-100"
                alt="..."
            />
        </div>
        <div class="carousel-item">
            <img
                src="https://ecoparker.s3.ap-southeast-1.amazonaws.com/s3fs-public/styles/listing_detail_header/public/nha%20hang/45519673_2220682351539112_7646554049159888896_o_0.jpg?itok=MsMb6ThS"
                class="d-block w-100"
                alt="..."
            />
        </div>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row">
        <h1 class="text-center">Sản phẩm từ Nhà</h1>
        <ngx-slick-carousel [config]="slideConfig">
            <div
                ngxSlickItem
                *ngFor="let cate of categories"
                class="category-slide"
            >
                <div class="cate-card">
                    <div class="image-container">
                        <img [src]="cate.image" alt="" width="100%" />
                    </div>
                    <div class="name">
                        {{ cate.name | titlecase }}
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>
